body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}


.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card p {
    margin: 0;
    font-size: 1.1rem;
}

.card p strong {
    font-weight: 600;
}

footer {
    border-top: 2px solid #002266;
}

footer .btn {
    font-size: 1.5rem;
}

footer .btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}


header {
    background-color: #007bff;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header h1 {
    color: #ffffff;
}
header button {
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
header button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.8%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.pointer {
    cursor: pointer;
}